.userPanel {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0;
    justify-content: flex-end;
}

.userPanel span a {
    padding: 3px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}

.userPanel span a {
    text-decoration: none;
    color: black;
}

.activeLink {
    background-color: #efb7a7;
}