.todo-input {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #cccccc;
    align-items: center;
}

.todo-input form {
    width: 100%;
}

.todo-input input {
    font-size: 18px;
    width: 100%;
    outline: none;
    border: 0;
    padding: 10px 0;
}

.todo-input img {
    padding-left: 7px;
    margin-right: 7px;
    width: 32px;
    height: 32px;
    opacity: 0.2;
}

.todo-icon {
    position: absolute;
    width: 32px;
}

::placeholder {
    font-size: 18px;
    font-style: italic;
    color: #cccccc;
    font-weight: 600;
}

.done {
    color: #cccccc;
}

.input-selectall {
    cursor: pointer;
}

.input-selectall.hide {
    visibility: hidden;
    cursor: pointer;
}