.todo-input {
    font-size: 18px;
    width: 100%;
    outline: none;
    /*border: 1px solid #cccccc;*/
    border: 0;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}

::placeholder {
    font-size: 18px;
    font-style: italic;
    color: #cccccc;
    font-weight: 600;
}

.done {
    color: #cccccc;
}