.todo-footer {
    text-align: center;
    width: 100%;
    color: #5f6369;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
}

.current {
    padding: 3px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.filters {
    text-align: center;
}

.filters span {
    margin-right: 20px;
    cursor: pointer;
}

.clear span {
    cursor: pointer;
}